<header>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
</header>
<nav>
    <label class="logo">SpaceX</label>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa fa-bars"></i>
    </label>
    <ul>
        <li><a>Home</a></li>
        <li><a class="active" href="{{ url_for('consultarRecords') }}">Consultar Registros</a></li>
        <li><a href="{{ url_for('editarRecords') }}">Editar Registros</a></li>
        <li><a>Sobre nosotros</a></li>
        <li><a href="{{ url_for('logout') }}">Cerrar sesión</a></li>
    </ul>
</nav>