body {
    background-color: #e0f7fa; /* Azul muy clarito */
}

/* Estilos personalizados */
.titulo-cuadro {
    font-size: xx-large;
    text-align: center;
    padding-top: 2vh;
    background-color: #0082e6;
    color: white;
}

.cuadro-bienvenida {
    background-color: #b3e5fc; /* Color de fondo más claro */
    border: 2px solid #333;
}

/* Estilo del cuadro de registros */
.cuadro-registros {
    background-color: #ccffcc; /* Color de fondo más claro */
    border: 2px solid #333;
}

.titulo-registros {
    font-size: 36px;
    text-align: center;
    color: black;
    font-weight: bold;
    padding: 1vh 0;
}

.lista-registros {
    max-height: 22vh;
    overflow: auto;
}

.cuadro-administrador {
    background-color: #f0f0f0; /* Color de fondo gris */
}

.icon-container {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a lo largo del contenedor */
    gap: 20px; /* Espacio entre los elementos */
    background-color: #f0f0f0; /* Color de fondo gris claro */
    padding: 20px; /* Espacio interno alrededor de los elementos */
    border-radius: 10px; /* Bordes redondeados opcionales */
}

    .icon-container a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: inherit;
        transition: background-color 0.3s; /* Transición suave para el efecto hover */
    }
    .icon-container a:hover {
        background-color: #d3d3d3; /* Color de fondo gris oscuro al pasar el cursor */
        border-radius: 5px; /* Bordes redondeados opcionales para el efecto hover */
        padding: 10px; /* Espacio interno adicional para el efecto hover */
    }

.icon-container i {
    font-size: 4rem;
    margin-bottom: 10px;
}

.icon-container span {
    font-size: 1.5rem;
}

.titulo-favoritos, .titulo-consulta-conjuntos {
    font-size: 25px;
    text-align: center;
    padding: 1vh 0;
}

/* Cuadro inferior izquierdo */
.cuadro-favoritos {
    background-color: #ffc1e3; /* Color más claro */
    color: #ff4081; /* Color del texto */
    text-align: center;
    font-size: x-large;
    border: 2px solid #333;
}

.cuadro-consulta-conjuntos {
    background-color: #fff9c4; /* Color más claro */
    text-align: center;
    font-size: x-large;
    border: 2px solid #333;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #ffa726; /* Naranja */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

    .boton:hover {
        background-color: #fb8c00; /* Naranja más oscuro */
    }

.enlace-favoritos {
    color: red;
    text-decoration: none;
}

    .enlace-favoritos:hover {
        color: orange;
        text-decoration: underline;
    }
