.contenedor-tabla {
    width:100%;
    max-height: 500px; /* Altura máxima de la tabla con scroll */
    overflow-y: auto; /* Scroll vertical */
}

.tabla {
    width: 100%;
    border-collapse: collapse;
}

.cabeceros {
    position: sticky;
    top: 0;
    background: #f8f8f8;
    z-index: 1; /* Asegura que los encabezados estén sobre las celdas */
    cursor: pointer; /* Indica que el encabezado es interactivo */
}

.cabeceros.sortable::after {
    content: " ⬆️⬇️"; /* Emoticonos indicando ordenamiento */
    font-size: 0.8em; /* Tamaño del emoticono */
    margin-left: 5px; /* Espacio entre el texto y el emoticono */
}
