{% extends './layout.html' %}

{% block title %}Consulta{% endblock %}

{% block head %}


{% endblock %}

{% block navbar %}
<nav>
    <label class="logo">SmartCities</label>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa fa-bars"></i>
    </label>
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a class="active">Añadir datos</a></li>
        <li><a href="{{ url_for('consultarRecords') }}">Consultar Registros</a></li>
        <li><a href="{{ url_for('editarRecords') }}">Editar Registros</a></li>
        <li><a>Sobre nosotros</a></li>
        <li><a class="logout" href="{{ url_for('logout') }}">Cerrar sesión</a></li>
    </ul>
</nav>
{% endblock %}

{% block body %}



{% endblock %}
