{% extends './layout.html' %}

{% block title %}{{ciudadElegida}}{% endblock %}

{% block navbar %}
<nav>
    <label class="logo">SmartCities - {{ciudadElegida}}</label>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa fa-bars"></i>
    </label>
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('añadirDatos') }}">Añadir datos</a></li>
        <li><a href="{{ url_for('consultarRecords') }}">Consultar Registros</a></li>
        <li><a href="{{ url_for('editarRecords') }}">Editar Registros</a></li>
        <li><a class="col-sm-12 col-md-4 col-lg-4">Sobre nosotros</a></li>
        <li><a class="logout col-sm-12 col-md-4 col-lg-4" href="{{ url_for('logout') }}">Cerrar sesión</a></li>
    </ul>
</nav>
{% endblock %}

{% block body %}

<p>HAY LAS SIGUIENTES OPCIONES:</p>

<ul>
    {% for opcion in características %}
    <li>->{{ opcion }}</li>
    {% endfor %}
</ul>

<form action="{{url_for('seleccionarOpcion')}}" method="post" accept-charset="UTF-8">


    <div class="container">
        <p>LISTA DE OPCIONES</p>
        <div class="row">
            <label>Seleccionar Opcion</label>
            <select name="opcionElegida" data-live-search="true" class="form-control" title="Seleccionar ciudad">
                {% for opcion in características %}
                <option value="{{ opcion }}">{{ opcion }}</option>
                {% endfor %}
            </select>
        </div>

    </div>

    <button type="submit" class="btn btn-primary btn-block btn-large">MOSTRAR</button>

</form>


{% endblock %}
