{% extends './layout.html' %}

{% block title %}Menu{% endblock %}

{% block body %}
<h1>SmartCities</h1>

<div class="login">
    <p>Introduce el país y la cuidad</p>
    HAY LAS IGUIENTES CIUDADES:
    <ul>
        {% for ciudad in listaCiudades %}
        <li>{{ ciudad }}</li>
        {% endfor %}
    </ul>

    <form action="{{url_for('seleccionar')}}" method="post" accept-charset="UTF-8">

        <input type="text" name="Pais" placeholder="Seleccione País" required="required">
        <input type="text" name="Ciudad" placeholder="Seleccione Ciudad" required="required">
        <button type="submit" class="btn btn-primary btn-block btn-large">CONSULTAR</button>

    </form>
</div>
<br />
<br />
    USTED HA SELECCIONADO {{ciudad}} , {{pais}}
<br />


{% endblock %}
