{% extends './layout.html' %}

{% block title %}Gestión de Usuarios{% endblock %}

{% block head %}

<meta content="IE=edge" http-equiv="X-UA-Compatible" charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--Bootstrap-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}

{% block navbar %}
<nav>
    <label class="logo">SmartCities - Gestión de Usuarios</label>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa fa-bars"></i>
    </label>
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('mostrarConjuntos') }}">Conjuntos</a></li>
        <li><a href="{{ url_for('editarRecords') }}">Registros</a></li>
        <li><a class="col-sm-12 col-md-4 col-lg-4" href="{{ url_for('mostrarAyuda') }}">Ayuda</a></li>
        <li><a class="logout col-sm-12 col-md-4 col-lg-4" href="{{ url_for('logout') }}">Cerrar sesión</a></li>
    </ul>
</nav>

{% endblock %}

{% block body %}

<body>
    <h1 class="text-center mt-5 mb-5 text-primary">Usuarios</h1>

    <div class="container">
        <div class="card shadow">
            <div class="card-body">

                <!-- TABLA -->
                <table id="tablaConOrdenación" class="table table-bordered tabla">
                    <thead>
                        <tr>
                            <th class="cabeceros sortable" onclick=sortTable(0) scope="col">id</th>
                            <th class="cabeceros sortable" onclick=sortTable(2) scope="col">Nombre</th>
                            <th class="cabeceros sortable" onclick=sortTable(1) scope="col">Nombre completo</th>
                            <th class="cabeceros sortable" onclick=sortTable(3) scope="col">Rol</th>
                            <th class="cabeceros" scope="col">Favoritos</th>
                            <th scope="col">Eliminar</th>

                        </tr>
                    </thead>

                    <tbody>
                        {% for id, atributos in usuarios.items() %}
                        <tr>
                            <td>{{ id }}</td>
                            <td>{{ atributos[0] }}</td>
                            <td>{{ atributos[2] }}</td>
                            <td>
                                <form>
                                    <input type="hidden" name="user_id" value="{{ id }}">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <select name="role" class="form-select" data-user-id="{{ id }}">
                                        {% for role in roles %}
                                        <option value="{{ role }}" {% if atributos[1]= =role %}selected{% endif %}>{{ role }}</option>
                                        {% endfor %}
                                    </select>
                                </form>
                            </td>
                            <td>{{ atributos[3] }}</td>
                            <td>
                                {% if id == current_user.id %}
                                <button class="btn btn-danger btn-sm disabled-btn" disabled>No puedes eliminar tu cuenta</button>
                                {% else %}
                                <a href="{{ url_for('eliminarUsuario', id=id) }}" class="btn btn-danger btn-sm">Eliminar</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</body>

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/ordenación.js') }}"></script>
<script>
    $(document).ready(function() {
        $('select[name="role"]').change(function() {
            var userId = $(this).data('user-id');
            var newRole = $(this).val();
            var csrfToken = $('meta[name="csrf-token"]').attr('content');

            $.ajax({
                type: 'POST',
                url: '{{ url_for("actualizar_rol") }}',
                data: {
                    user_id: userId,
                    role: newRole,
                    csrf_token: csrfToken  // Token CSRF
                },
                success: function(response) {
                    if (response.success) {
                        alert('Rol actualizado correctamente');
                    } else {
                        alert('Error al actualizar el rol');
                    }
                },
                error: function() {
                    alert('Error al actualizar el rol');
                }
            });
        });
    });
</script>


{% endblock %}